<div class="col mb-4">
    <div class="card shadow-sm">
        <img src="{{ post.image_url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover" loading="lazy">
        <div class="card-body">
            <p class="card-text" style="font-weight: bold">{{ post.title }}</p>
            <hr>
            <p class="card-text">{{ post.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/ler/{{ post.id }}" type="button" class="btn btn-sm btn-outline-secondary">Ler</a>
                </div>
                <small class="text-body-secondary">{{ post.reading_time }} minuto{% if post.reading_time > 1 %}s{% endif %}</small>
            </div>
        </div>
    </div>
</div>